
{% block content %}
  <div>
    <form method="post">
      {% csrf_token %}
      <fieldset>
        <legend>Log in</legend>
        {{ form }}
      </fieldset>
      <div>
        <button type="submit">Log in</button>
      </div>
    </form>
    <div>
      <small>
        Don`t have an account yet? <a href="{% url 'register' %}">Register here</a>
      </small>
    </div>
  </div>
  {% endblock content %}
